<app-sidebar [navtabs] = "navs"></app-sidebar>

<div id="data">
	
<app-header  (onclick)="onclick($event)"></app-header>


    <div class="col-xs-*" style="text-align: justify;">
        <div class="tabcontnent">
        	<h3>Program Flight</h3>
        
				<p>data about program flight</p>
               
		      <app-accordian [header]="'Program'+ ' Flight' + ' Images'" [images]="images" [footer]="" ></app-accordian>
		    </div>   
		</div>
    <div style="margin-bottom: 100px; visibility: hidden;"></div>   
		
	</div>