<app-glyph2></app-glyph2>
<!-- <app-sidebar [navtabs] = "['home','EquipmentSpecification']"></app-sidebar> -->
  
 <!--  <app-table></app-table> -->
 
<router-outlet></router-outlet> 
<!-- <app-viewer></app-viewer> -->

<!-- <app-observations></app-observations> -->
<!-- <app-programflight></app-programflight> -->
<!-- <app-areasof-interest></app-areasof-interest> -->

<!-- <p style="height: 200px;background-color: red;">aoijfoaihf</p>
</div> -->
 <!-- <div id = images>
 <div class="row" *ngFor='let count of num' >
             
                        <div *ngIf="count*4+4<=images.length" >
                            <div class="col-md-3" *ngFor = "let x of images | slice:(count*4):(count*4+4)">
                                <div class="thumbnail">

                                    <img src="{{x['path']}}"  alt="CCUSTACK" style="width:100%"/>
                                    <div class="caption">
                                      <p *ngIf="x['height']" ><strong>Height : {{x['height']}} m</strong></p>
                                       <a href="{{x['path']}}"  download>
                                          <span class="glyphicon glyphicon-download-alt"></span>
                                        </a>
                                      <p>{{x['content']}}</p>
                                    </div>
                                </div>
                              </div>
                        </div>
                        
                        <div *ngIf="(count*4)+4>images.length" >
                            <div class="col-md-3" *ngFor = "let x of images | slice:(count*4):( images.length )">
                                <div class="thumbnail">
                                    <img src= "{{x['path']}}" alt="CCUSTACK" style="width:100%"/>
                                    <div class="caption">
                                      <p *ngIf="x['height']" ><strong>Height : {{x['height']}} m</strong></p>
                                      <a href="{{x['path']}}"  download>
                                          <span class="glyphicon glyphicon-download-alt"></span>
                                       </a>
                                      <p>{{x['content']}}</p>
                                    </div>
                                </div>
                              </div>
                        </div>
                     </div>
    </div>
    <button onclick="x()" >open</button> -->

    <!-- <img style="margin:auto;max-width: 80vw;max-height: 90vh;" src="../../assets/image-000069.jpg"/> -->