<div id="data">
    <div class="col-xs-*" style="text-align: justify;">
        <div id="Home" class="tabcontent" >
        	<div class="row">
            <div class="col-xs-12" style="color: #00004d;background-color: #e6e6e6;text-align: center;">
            <!-- <app-dropdown [Title]="title" [values]="droplist"></app-dropdown>  -->    
            <div class="col-sm-4 col-sm-offset-4"><h2>{{titleofjob}}</h2></div>
            	<div class="dropdown col-sm-4" >
				  <button class="btn dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" style="background-color: inherit;text-align: right;">Jobs-Executed<span class="glyphicon glyphicon-triangle-bottom" aria-hidden="true"></span>
				  </button>
				  <div class="dropdown-menu" aria-labelledby="dropdownMenuButton" style="width: 50%;margin-left: 50%">
				  	<div *ngFor = "let x of joblist">
				    <a id="menu" (click)="onclick(x)">{{x.Title}}</a>
				  	</div>
				  </div>
				</div>
        	</div>
        </div>
            <div class="row" style="margin-top: 10px;">
        	<div class="col-sm-6" style="max-height: 90vh;max-width: 90vh;">
        	<app-piechart  [pieChartLabels]="chartlabels" [pieChartData]="chartdata"></app-piechart>
       		</div>
            <div class="col-sm-6" style="margin-top: 15px;">
                <app-table [columns]="col" [rows]="datajobs"></app-table>
            </div>
        </div>
        </div>
    </div>   
</div>
