<app-sidebar [navtabs] = "navs"></app-sidebar>

<div id="data">

     <div class="container-fluid">
     <nav class="navbar navbar-default">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#collapse-1" aria-expanded="false">
       <!--  <span class="sr-only">Toggle navigation</span> -->
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#">{{this.g.selectedjob | uppercase}}</a>
      
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="collapse-1">
      <ul class="nav navbar-nav navbar-right">
         <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"> Job List<span class="caret"></span></a>
          <ul class="dropdown-menu" >
            <li *ngFor = "let x of joblist">  <a  (click)="onclick(x)">{{x}}</a></li>
         </ul>
        </li>
         <li>
          <a routerLink="/Observations"> Detailed Report of {{this.g.selectedjob}}<span class="glyphicon glyphicon-triangle-right"></span></a>
        </li>
      </ul>
    </div>
    </nav>
  </div>
   
    <div class="row">
        <div class="col-sm-6" style="background-color: #e6e6e6;" >
      
        <app-stackbarchart [barChartLabels]="labels" [barChartData]="data" ></app-stackbarchart>
        </div>
    </div>
  
    <div style="margin-bottom: 100px; visibility: hidden;"></div>   

</div>




