.btn{
width:100%;
text-align: left;
color:#00004d;
background-color: #cccccc;
/*padding-left: 0px;*/
}

.btn span{
	padding-left:20px; 
}
.dropdown-menu{
	text-align: center;
	width: 100%;
	background-color: #f2f2f2;
    color:#00004d;
}
#menu{
	color:#00004d;
}