
<app-sidebar [navtabs] = "navs"></app-sidebar>
<div id="data">
    <div class="col-xs-*" style="text-align: justify;">
        <div id="Drone-Specs" class="tabcontent">
            <h3>Equipment Specifications:</h3>
            <h4>Drone Specification:</h4>
            <ul>
              <li>
                Autonomous ﬂight quadrotor drone</li>
                <li>ﬂight time : 20 min (may vary on payload, wind etc.)</li>
                <li>Wind resistance upto 70 kmph and Rain resistance for minor drizzles</li>
                <li>failsafe engine and battery</li>
                <li>Manual override as GPS failsafe</li>
                <li>IPS integration for indoor ﬂight</li>
            </ul>
            <h4>Visual camera Specification:</h4>
            <ul>
              <li> 4K video @ 30fps, 1080p at 60 fps, 720p at 120 fps Photo max resolution 12 MP, with varifocal 20-60 mm lens </li>
            </ul>
            <h4>Thermal camera Specification:</h4>
            <ul>
              <li>Frame rate : 25 Hz</li> 
              <li>Optics : 6.8 mm lens (55º x 41º) 13 mm lens (29º x 22º) 19 mm lens (19º x 14º) 35 mm lens (11º x 8º)</li>
              <li>Resolution : 384 x 288 pixels (>110,000 pixels)</li> 
              <li>Accuracy : +/- 3ºC or 3% (@25ºC) </li>
              <li>Sensitivity : NETD< 0.07ºC </li>
              <li>Temperature : 5-90ºC (for optimal use)</li> 
              <li>Imager : 7.5-14 micrometres </li>
              <li>Certiﬁcations: CE, FCC, RoHS Encapsulation: IP54</li>
            </ul>
        </div>
          
    </div>   
    <div style="margin-bottom: 100px; visibility: hidden;"></div>   

</div>
