<app-sidebar [navtabs] = "navs"></app-sidebar>
<div id="data">
    <div class="col-xs-*" style="text-align: justify;">
        <div id="Home" class="tabcontent" >
            <h3>Executive Summary:</h3>
            <p>Noctua is an intelligent drone used for health monitoring of hard-to-reach structures. The drone has been modiﬁed speciﬁcally to meet the toughest conditions present in industries such as wind and heat. It also has the ability to perform both indoor and outdoor inspections. Noctua’s inspection was planned to show many features, especially required in process industries for asset integrity monitoring. The automated ﬂight and the  indigenously developed indoor positioning system promises increased safety and minimal chances of any emergency situations. The accuracy of ﬂight and control offered by Noctua is also a result of deep research and cannot be found elsewhere. We offer the most affordable solutions for asset monitoring in industries, usually 40% cheaper than existing solutions.</p> 
            <p>At the BPCL reﬁnery in Mumbai, internal inspection of two stacks (the CCR and FCCU Stacks) were carried out using Noctua from Detect Technologies. Only visual inspection was executed during this inspection. Post inspection, image processing techniques were applied to enhance the quality of images and videos. Also several other techniques were used to automatically ﬁnd the areas of interests and categorise its severity into Low, Medium and High alert faults. </p>
            
        </div>
          
    </div> 
    <div style="margin-bottom: 100px; visibility: hidden;"></div>   
      
</div>
