<div id="main" style="margin-left: 200px;">
  <a href="#" title="Home" class="btn btn-link " ><span id="glyph2" class="glyphicon glyphicon-home" ></span></a>
  <a href="#" title="Logout" class="btn btn-link " ><span id="glyph2" class="glyphicon glyphicon-log-out" ></span></a>
  <a href="#" title="Contatcs" class="btn btn-link " ><span id="glyph2" class="glyphicon glyphicon-user"></span></a>
  <a title="Menu" class="btn btn-link " ><span id="glyph2" style="font-size:20px;cursor:pointer;margin-left: 10px;" (click)="openNav()">&#9776;</span></a>
  <a title="Back" onclick="goBack()" class="btn btn-link"><span id ="glyph2" class="glyphicon glyphicon-circle-arrow-left"></span></a>
</div>